*{
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 0;

}


.hamburger-menu{
    display: none;
    position:   relative;
}

@media screen and (max-width: 900px){
    .hamburger-menu{
        display: block;
    }
}

.hamburger-lines{
    display:    flex;
        flex-direction:     column;
        justify-content:    space-between;
    position:   absolute;
        top:    1rem;
        left:   1rem;
    height: 2rem;
    width:  2rem;
    z-index:    2;
}
.hamburger-lines .line{
    background-color: black;
    display:    block;
    height:     .1rem;
    width:      100%;

}

.menu-items{
    display:            flex;
    align-items:        center;
    flex-direction:     column;
    background-color:   rgba(0, 0, 0, 0.486);
    padding-top:         4rem;
    transform:          translateX(-100%);
    transition:         transform 0.5s ease-in-out;
    padding-left:       1rem;
}





.hamburger-menu input[type="checkbox"]:checked ~ .menu-items{
    background-color:   rgba(0, 0, 0, 0.774);
    color:              white;
    transform:          translateX(0%);
}

.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line{
  background-color:     aliceblue;
}

.hamburger-menu input[type="checkbox"]{
    display:        block;
    position:       absolute;
        top:        1rem;
        left:       1rem;
    width:          1rem;
    height:         1rem;
    opacity:        0;
    z-index:        5;
}


.menu-items li {
    list-style:         none;
    margin-bottom:      2rem;
    font-size:          1.5rem;
}

.hamburger-lines .line1{
    transform-origin:       0% 0%;
}
.hamburger-lines .line3{
    transform-origin:       0% 100%;
}

.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line1{
   transform:       translateY(5px) rotate(45deg) ;
   transition:      transform .4s ease-in-out;
  }
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line2{
display:        none;
  }
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line3{
    transform:          translateY(-5px) rotate(-45deg);
    transition:         transform .4s ease-in-out;
  }