html{
    background-color: rgb(18, 18, 54);
}
.container{
    width: 200px;
    height: 100px;
    border: 10px solid black;
    padding: 50px;
    text-align: justify;
 
}
span{
color: antiquewhite;
    max-width: 100%;
    word-wrap: break-word;
    background-color: orange;

}
.test{
color: antiquewhite;
    max-width: 100%;
    word-wrap: break-word;
    background-color: rgb(255, 60, 0);

}
.container2{
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    border: 10px solid black;
    padding: 50px;
    text-align: justify;
 
}