* {
    margin: 0;
    padding: 0;
   
}
/* 
center center ->ustawia obraz wertykalnie i horyzontalnie

*/
body{
    background: url("https://cdn.pixabay.com/photo/2017/07/31/21/49/skyscraper-2561415_960_720.jpg")
    no-repeat center center fixed;
    background-size: cover;
}

.container{
    background-color: rgba(0, 91, 133, 0.603);
    border: 1px solid rgba(168, 228, 58, 0.678);
    margin: 300px auto 0 auto;
    padding: 30px;
    height: 200px;
    width: 40%;
    box-shadow: 9px 9px 9px .1px;
    overflow: hidden;

}
.business-card img{
float: left;
}

.user-name, .user-mail, .download-cv{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
   
}
.user-name{
    font-weight: bolder;
    padding: 0 0 20px 0;
    word-spacing: 50px;
}
.user-name span{
    border-bottom: 3px solid rgb(255, 174, 0);
    padding-bottom: 4px;
}
.user-mail{
    font-size: 20px;
  
}
.user-mail span{
    padding-bottom: 4px;
}
p a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

