:root{
    background-color: rgb(0, 125, 197);
    font-size: 30px;
}




.a{
    background-color: rgba(250, 235, 215, 0.363);
    font-size: 40px;
    width: 100%;
    height: 500px;

}
.ap1{
    font-size: 2em;
}
.ap2{
    font-size: 1rem;
    text-align: justify;
    margin: 0 1rem 0 1rem;
    padding: 1rem;
    text-indent: 2rem;
    text-decoration: overline .17rem rgb(255, 153, 0) double;
    text-decoration-thickness: 2px;
    line-height: 2rem;
    letter-spacing: .2rem;
    column-count: 4;
    column-gap: 2rem;
    column-rule: 2px double black ;
}
.span1{
  
}
.ap2::first-line{
    font-weight: bold;
    word-spacing: .3rem;
    text-transform: uppercase;
    letter-spacing: .3rem ;
    text-shadow: 2px 2px 6px black;
}
.ap2::first-letter{
    font-size: 2rem;
    color: crimson;
  
}

