*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-color: rgb(95, 129, 160);
}

/* hamburger */
.hamburger{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: .5rem;
}

.hamburger_box{
    display: inline-block;
    height: 1rem;
    position: relative;
    width: 2rem;
}
.hamburger_inner::before{
    content: "";
    background-color: aliceblue;
    height: .1rem;
    position: absolute;
    width: 100%;
}

.hamburger_inner{
    background-color: aliceblue;
    height: .1rem;
    position: absolute;
    width: 100%;
}
.hamburger_inner::after{
    content: "";
    background-color: aliceblue;
    height: .1rem;
    position: absolute;
    width: 100%;
}

/*  */
.test{
    background-color: brown;
}

